{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<div class="slds-page-header" role="banner">
	
	<div class="slds-grid">
		<div class="slds-col slds-has-flexi-truncate">		
			<div class="slds-media">
				<div class="slds-media__figure slds-max-small-hide">
					<svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-user">
						<use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#share_post"></use>
					</svg>
				</div>
				<div class="slds-media__body">
					<nav class="slds-m-bottom--xx-small" role="navigation">
						<p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
						<ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
							<li class="slds-list__item slds-text-heading--label slds-max-small-hide" ><a href="/">Unnecessary Use of Force</a></li>
							<li class="slds-list__item slds-text-heading--label"><a href="/">Posts</a></li>
						</ol>
					</nav>
					<h1 class="slds-text-heading--medium slds-m-right--small slds-align-middle" >{{title}}</h1>			
				</div>
			</div>
		</div>
		<div class="slds-col slds-no-flex slds-align-bottom slds-max-small-hide">
			<div class="slds-button-group" role="group">
				<a class="slds-button slds-button--neutral" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
				onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
					<svg aria-hidden="true" class="slds-button__icon">
						<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
					</svg>
					<span class="slds-assistive-text">Share on Facebook</span>
				</a>
				<a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="slds-button slds-button--neutral">
					<svg aria-hidden="true" class="slds-button__icon">
						<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#retweet"></use>
					</svg>
					<span class="slds-assistive-text">Tweet</span>
				</a>
			</div>
		</div>
	</div>
	<p class="slds-text-body--small slds-m-top--x-small"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}</p>
</div>

<section class="slds-m-around--large slds-text-longform slds-text-heading--small">
	{{content}}
</section>

<!-- <section class="share">
	<h4>Share this post</h4>
	<a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
		onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		<span class="hidden">Twitter</span>
	</a>
	<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
		onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		<span class="hidden">Facebook</span>
	</a>
	<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
		onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		<span class="hidden">Google+</span>
	</a>
</section> -->

<!-- <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
	<nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
		{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
		{{#if @blog.navigation}}
			<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
		{{/if}}
	</nav>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">

		<header class="post-header">
			<h1 class="post-title">{{title}}</h1>
			<section class="post-meta">
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
			</section>
		</header>

		<section class="post-content">
			{{content}}
		</section>

		<footer class="post-footer">

		{{! Everything inside the #author tags pulls data from the author }}
		{{#author}}

			{{#if image}}
			<figure class="author-image">
				<a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
			</figure>
			{{/if}}

			<section class="author">
				<h4><a href="{{url}}">{{name}}</a></h4>

				{{#if bio}}
					<p>{{bio}}</p>
				{{else}}
					<p>Read <a href="{{url}}">more posts</a> by this author.</p>
				{{/if}}
				<div class="author-meta">
					{{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
					{{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
				</div>
			</section>

		{{/author}}

			<section class="share">
				<h4>Share this post</h4>
				<a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
					onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
					<span class="hidden">Twitter</span>
				</a>
				<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
					onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
					<span class="hidden">Facebook</span>
				</a>
				<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
					onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
					<span class="hidden">Google+</span>
				</a>
			</section>

		</footer>

	</article>
</main> -->
<!-- <article class="slds-tile slds-m-bottom--large">
  <p class="slds-tile__title slds-truncate slds-text-heading--small" ><a href="{{url}}">{{{title}}}</a></p>
  
  <div class="slds-tile__detail slds-text-body--regular">
	<p>
		{{excerpt words="90"}}
		<a class="read-more" href="{{url}}">&raquo;</a>
	</p>
  </div>

</article> -->
<section class="slds-m-around--large">
	{{#next_post}}
	<aside class="slds-tile slds-box slds-theme--success">
		<p class="slds-tile__title slds-truncate slds-text-heading--small" ><a href="{{url}}">NEXT: {{{title}}}</a></p>

		<div class="slds-tile__detail slds-text-body--regular">
			<p>
				{{excerpt words="90"}}
				<a class="read-more" href="{{url}}">&raquo;</a>
			</p>
		</div>
	</aside> 
	<!-- <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
		<section class="post">
			<h2>NEXT: {{title}}</h2>
			<p>{{excerpt words="19"}}&hellip;</p>
		</section>
	</a> -->
	{{/next_post}}

	{{#prev_post}}
	<aside class="slds-tile slds-box slds-theme--offline">
		<p class="slds-tile__title slds-truncate slds-text-heading--small" ><a href="{{url}}">Previous: {{{title}}}</a></p>

		<div class="slds-tile__detail slds-text-body--regular">
			<p>
				{{excerpt words="90"}}
				<a class="read-more" href="{{url}}">&raquo;</a>
			</p>
		</div>
	</aside> 
	<!-- <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
		<section class="post">
			<h2>{{title}}</h2>
			<p>{{excerpt words="80"}}&hellip;</p>
		</section>
	</a> -->
	{{/prev_post}}

	{{/post}}
</section>